.BPMInput{
width: 50px;
margin-top: 20px;
margin-left: 15px;
border-style: inset;
border-color: lightgrey;


}
.BPMtext{
    margin-top:23px; 
   margin-left: 27px;
}
#calcButton{
    width:100px;
    height: 50px;
    margin-left: 5px;
    
}
#calcPosition{
    
}
.Calculator{
    border-style: outset;
    border-color: grey;
    border-width: 5px;
    margin-left: 100px;
    height: 200px;
    max-height: 200px;
    width: 900px;
    color: lightgrey;
}
.secondRow{
    margin-left: 75px;
    margin-top: 50px;
}
.firstRow{
    margin-left:60px;
}